{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>麻雀得点計算機</title>
  <link rel="stylesheet" href="{% static 'MSC/css/index.css' %}">
</head>
<body>

  <div class="header">
    <div class="header-center">麻雀得点計算機</div>
    <div class="header-buttons">
      <button onclick="showHelp()" class="help-button">使い方</button>
      <button onclick="window.location.href='/score_table/'" class="help-button">得点早見表</button>
    </div>
  </div>

  <div class="section tokuten">
    {% include 'MSC/score_result.html' %}
  </div>

  <div class="section tokuten">
    {% include 'MSC/tehai1.html' %}
  </div>

  <div class="section tokuten">
    {% include 'MSC/jouken.html' %}
  </div>

</body>
</html>
