{% load static %}

<!-- 条件入力HTML -->
<div class="container">
  <div class="section">
    <div class="label">場風 / 自風</div>
    <div class="btn-group">
      <div>場風:</div>
      <button class="btn wind-btn selected" data-wind-type="prevalent" data-wind="east">東</button>
      <button class="btn wind-btn" data-wind-type="prevalent" data-wind="south">南</button>
      <button class="btn wind-btn" data-wind-type="prevalent" data-wind="west">西</button>
      <button class="btn wind-btn" data-wind-type="prevalent" data-wind="north">北</button>
      <div style="width: 20px;"></div>
      <div>自風:</div>
      <button class="btn wind-btn selected" data-wind-type="seat" data-wind="east">東</button>
      <button class="btn wind-btn" data-wind-type="seat" data-wind="south">南</button>
      <button class="btn wind-btn" data-wind-type="seat" data-wind="west">西</button>
      <button class="btn wind-btn" data-wind-type="seat" data-wind="north">北</button>
    </div>
  </div>

  <div class="option-group">
    <div class="label">親・子</div>
    <button class="btn player-type-btn selected" data-player="parent">親</button>
    <button class="btn player-type-btn" data-player="child">子</button>
  </div>

  <div class="option-group">
    <div class="label">立直</div>
    <button class="btn riichi-btn selected" data-riichi="none">なし</button>
    <button class="btn riichi-btn" data-riichi="riichi">立直</button>
    <button class="btn riichi-btn" data-riichi="double">ダブル立直</button>
  </div>

  <div class="option-group">
    <div class="label">一発</div>
    <button class="btn ippatsu-btn selected">なし</button>
    <button class="btn ippatsu-btn">一発</button>
  </div>

  <button id="condition-submit-btn" type="button">送信</button>
</div>

<script src="../../static/MSC/js/btn.js"></script>
<script src="{% static 'MSC/js/condition.js' %}"></script>

  