<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>麻雀得点計算機 使い方</title>
  <style>
    body {
      font-family: "Yu Gothic", sans-serif;
      margin: 30px;
      line-height: 1.8;
      background-color: #f4f4f4;
    }
    h1, h2, h3, h4 {
      color: #2c3e50;
    }
    section {
      margin-bottom: 30px;
    }
    ul {
      padding-left: 20px;
    }
    li {
      margin-bottom: 8px;
    }
  </style>
</head>
<body>
  <h1>麻雀得点計算機 使用方法</h1>

  <section>
    <p>手牌を入力すると、待ち牌や点数、牌効率を確認することができます。麻雀を打っていて点数計算が分からなくなったときはもちろん、点数計算のトレーニングやメンチンの待ち牌の確認などにも活用できます。</p>
  </section>

  <section>
    <h2>得点計算</h2>

    <h3>ルール・場の設定</h3>
    <img src="/home/eng-std/s0623040/ピクチャ/スクリーンショット/Screenshot from 2025-07-30 16-53-43.png">
    <ul>
      <li>ルール</li>
      <h4>現在のルールを設定します。ボタンをタップするとルール設定画面に移動します。</h4>

      <li>場風</li>
      <h4>ゲーム開始時は通常「東」です。</h4>

      <li>自風</li>
      <h4>親の場合は「東」です。</h4>

      <li>供託</li>
      <h4>立直棒の本数を設定します。</h4>

      <li>積棒</li>
      <h4>例えば、「東三局一本場」の場合、積棒は1です。</h4>

      <li>立直</li>
      <h4>他家の副露がない1巡目の立直は「ダブル立直」となります。</h4>

      <li>一発</li>
      <h4>立直後1巡以内に和了した場合に設定します。</h4>

      <li>嶺上開花</li>
      <h4>槓の後に引いた嶺上牌で和了した場合に設定します。</h4>

      <li>槍槓</li>
      <h4>加槓をロン和了した場合に設定します。</h4>

      <li>海底 / 河底</li>
      <h4>山の最後の牌でツモ、または他家の最後の打牌でロンした場合に設定します。</h4>

      <li>天和 / 地和</li>
      <h4>親の配牌時、または子の第一ツモで和了した場合に設定します。</h4>
    </ul>

    <h3>ドラ表示牌・手牌の入力</h3>
    <img src ="/home/eng-std/s0623040/ピクチャ/スクリーンショット/Screenshot from 2025-07-30 17-21-52.png">
    <ul>
      <h4>手牌・ドラ表示牌を設定します。選択したい牌をタップすると、選んだ手配部分に牌を入力することができます。入力された牌をタップすると、牌を消去することができます。
        ドラ表示牌部分をクリックするとカーソルが変わり入力することができます。手牌の上の青い点はツモ牌を表します。更に牌を入力するか消去すると、手牌の中に入りソートされます。</h4>
    </ul>

    <h3>ポン・チー・明槓・暗槓</h3>
    <ul>
      <li>各ボタンで副露牌の入力モードに切り替え可能。</li>
      <li>チーは順子の最初の牌を入力します。</li>
      <li>副露牌はタップで削除、さらにタップで副露自体を取り消せます。</li>
      <li>赤牌ありの設定時はタップ時に選択画面で選択可能。</li>
    </ul>
  </section>


</body>
</html>
